p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}



.mysummary {
  padding: 1.4em 1em 0em 1em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 16px;
  margin-bottom: 18px !important;
  background: #f5f5f5 5px center/3em no-repeat;
  border: 1px solid #ccc;
  border-radius:4px;
}

.mysched {
  padding: 1.4em 1em 0em 1em;
  margin-top: 16px;
  margin-bottom: 18px !important;
  margin-left: 10%;
  margin-right: 10%;
  background: #f5f5f5 5px center/3em no-repeat;
  border: 1px solid #ccc;
  border-radius:4px;
}

.oldsched {
  padding: 1.4em 1em 0em 1em;
  margin-top: 16px;
  margin-bottom: 18px !important;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid #ccc;
  border-radius:4px;
}

.myanswers {
  padding: 1em 1em 0.8em 1em;
  margin-top: 10px;
  margin-bottom: 18px;
  background: #f5f5f5 5px center/3em no-repeat;
  border: 1px solid #ccc;
  border-radius:4px;
}


.mysummary ul, .mysched ul, .oldsched ul {
  padding-bottom: 0.2em !important;
  margin-bottom: 0.6em !important;
}

.book.color-theme-1 .mysummary, .book.color-theme-1 .mysched,  .book.color-theme-1 .myanswers {
  background: #fdf6e3; 5px center/3em no-repeat;
  border: 1px solid #F5D98B;
}

.book.color-theme-2 .mysummary, .book.color-theme-2 .mysched, .book.color-theme-2 .myanswers  {
  background: #2d3143; 5px center/3em no-repeat;
  border: 1px solid #2d3143;
}



div.theorem, div.example, div.proof, div.definition, div.lemma, .thpart {
  padding: 1em 1em 0em 1em;
  margin-top: 10px;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius:4px;
}



div.theorem p:nth-child(1), div.example p:nth-child(1), div.proof p:nth-child(1), div.definition p:nth-child(1), div.lemma p:nth-child(1), .thpart p:nth-child(1), .mysummary p:nth-child(1), .mysched p:nth-child(1), .myanswers p:nth-child(1), .myq p:nth-child(1), .oldsched p:nth-child(1) {
  text-indent: 0px;
}

.book.color-theme-1 div.theorem, .book.color-theme-1 div.example, .book.color-theme-1 div.proof, .book.color-theme-1 div.definition, .book.color-theme-1 div.lemma, .book.color-theme-1 .thpart,  .book.color-theme-1 .myanswers, .book.color-theme-1 .oldsched {
  border: 1px solid #F5D98B;
}

.book.color-theme-2 div.theorem, .book.color-theme-2 div.example, .book.color-theme-2 div.proof, .book.color-theme-2 div.definition, .book.color-theme-2 div.lemma, .book.color-theme-2 .thpart, .book.color-theme-2 .myanswers, .book.color-theme-2 .oldsched  {
  border: 1px solid #2d3143;
}


p {
  padding-top: 0 !important;
  margin-top: -10px !important;
  text-indent: 20px;
}

ul, ol {
  margin-top: -10px !important;
  margin-bottom: 20px !important;
}

ul ul {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

h1 + p, h2 + p, h3 + p, h4 + p, .mysummary + p, .mysched + p, .oldsched + p {
    text-indent: 0;
}


.myq {
  padding-top: 20px;
}


.subq {
  margin-left: 40px;
}

.subq p {
  text-indent: 0;
}

.subq p + p {
  text-indent: 20px;
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
    font-size:1.85em
}

.book .book-body .page-wrapper .page-inner section.normal h2 {
    font-size:1.4em
}

.book .book-body .page-wrapper .page-inner section.normal h3 {
    font-size:1.15em
}


.math.inline, .math.display { font-size: 95% !important; }

ul.summary {
  padding-bottom: -5px !important;
  margin-bottom: -5px !important;
  padding-top: -5px !important;
  margin-top: -5px !important;
}

ul.summary ul {
  padding-bottom: -5px !important;
  margin-bottom: -5px !important;
  padding-top: -5px !important;
  margin-top: -5px !important;
}

ul.summary ul li {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}




.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.07);
}

.book .book-summary li.divider {
    height: 0px;
}


.videowrapper {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; /* creates a 16:9 aspect ratio */
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

/* And set the max-width of the parent element */
.videowrap {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-bottom: 30pt;
}


/*
.math.display {
  display: block;
  overflow-x: scroll;
}
*/